html,body{
    margin: 0;
    padding: 0;
    height: 100vh;

    background-image: url("asset/back2.avif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* NAVBAR */
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 80px;
}


.logo h1{
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
}


.list{
    display: flex;
    list-style: none;
    gap: 50px;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.list li{
    cursor: pointer;
}
.list li a{
    text-decoration: none;
    color: black;
}

.list li a:hover{
    color:blueviolet;
}

/* HOME */
.hero{
    height: 100vh;

    /* background-image: url("asset/back2.avif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.image img{
    width: 220px;
    height: 220px;
    border-radius: 50%;
    object-fit: cover;
}
.name{
    text-align: center;
}
.name h1{
    font-size: 50px;
    margin-bottom: 5px;
}
.name h2{
    margin-top: 0;
}

/* ABOUT */
.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40Px;
    gap: 100px;
}
.about-left{
    width: 60%;
}

.about-right{
    display: flex;
    flex-direction: column;
    gap: 35px;
     width: 35%;
    margin-right: 80px;
}
.about-left h1{
    font-size: 60px;
}


.about-left h2{
    font-size: 35px;
}

.about-left p{
    font-size: 20px;
    line-height: 1.8;
}
.progress{
    width: 100%;
    height: 12px;
    background: lightgray;
    border-radius: 20px;
}
.html{
    width: 70%;
    height: 12px;
    background: purple;
    border-radius: 20px;
}

.css{
    width: 50%;
    height: 12px;
    background: purple;
    border-radius: 20px;
    
}

.javascript{
    width: 30%;
    height: 12px;
    background: purple;
    border-radius: 20px;
    
}
.skill-box{
    margin-bottom: 35px;
}
.skill-text{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-weight: bold;
}

/*EDUCATION SECTION  */
.education{
    padding: 50px;
}
.education h1{
    text-align: center;
     font-size: 50px;
     margin-bottom: 30px;
}
.content h2{
   
     font-size: 25px;
     margin: 10px;
   
}
.content h3{
   
     font-size: 20px;
     margin: 10px;
   
}
.content p{
    margin: 10px;
}


.timeline{
    position: relative;
    margin-left: 60px;
    border-left: 4px solid purple;
}
.timeline-item{
    position: relative;
    margin-bottom: 30px;
    padding-left: 30px;
}
.circle{
    width: 20px;
    height: 20px;
    background: purple;
    border-radius: 50%;
    position: absolute;
    left: -12px;
    top: 5px;
}
.content{
    background: rgb(234, 231, 231);
    padding: 12px;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}
.content:hover{
    transform: translateY(-5px);
    transition: 0.3s;
}

/* PROJECTS */
.project h1{
    text-align: center;
    font-size: 40px;
}
.project-container{
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap:wrap;
}
.card{
    width: 300px;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
    height: 50px;
    object-fit: cover;
}
